@import "variables";

.card-stock {
  margin: 0 30px 36px 0;
  width: 255px;
  height: 558px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  color: #1B1B1B;

  &:nth-child(4n + 4) {
    margin-right: 0;
  }

  & button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  & .card-stock-img {
    position: relative;
    height: 361px;

    & img {
      width: 100%;
      height: 361px;
    }

    & .card-stock-favorite {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 1.5rem;
    }
  }

  & .card-stock-content {
    padding: 20px 0 0 17px;
    height: 187px;

    & .card-stock-title {
      height: 54px;
      font-family: $Roboto;
      font-weight: $bold;
      font-size: 16px;
      letter-spacing: 0.02em;
      margin-bottom: 21px;
    }

    & .card-stock-ratings_and_comments {
      display: flex;
      align-items: center;
      font-family: $Roboto;
      margin-bottom: 21px;
      color: $grey_64;

      & .card-stock-ratings {
        margin-right: 17px;
      }

      & .card-stock-comments {
        font-size: 13px;
        letter-spacing: 0.03em;
      }
    }

    & .card-stock-price_and_buy {
      display: flex;
      align-items: center;
      font-family: $Roboto;
      margin-bottom: 20px;

      & .card-stock-price {
        margin-right: 15px;
        font-size: 17px;

        & span {
          color: #646464;
          font-weight: $medium;

          &:first-child {
            letter-spacing: 0.03em;
            text-decoration: line-through;
            text-decoration-color: #EC3939;
          }
        }

        & .stock-price {
          font-size: 20px;
          letter-spacing: 0.03em;
          color: #EC3939;
        }
      }

      & .card-stock-buy {

        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 118px;
          height: 33px;
          text-decoration: none;
          color: $white;
          font-weight: $medium;
          font-size: 19px;
          letter-spacing: 0.03em;
          background-color: $green_28;
          border: 1px solid $green_28;
          border-radius: 6px;
        }
      }
    }

    & .card-stock-ratings_and_comments,
    & .card-stock-price_and_buy {
      display: flex;
    }
  }
}

@media (max-width: 1199px) {
  .card-stock {
    width: 210px;
    height: 450.65px;

    & .card-stock-img {
      height: 297px;

      & img {
        height: 297px;
      }
    }

    & .card-stock-content {
      height: 154px;

      & .card-stock-title {
        margin-bottom: 15px;
        height: 40px;
        font-size: 15px;
      }

      & .card-stock-ratings_and_comments {
        margin-bottom: 17px;

        & .card-stock-ratings {
          margin-right: 10px;
        }
      }

      & .card-stock-price_and_buy {
        & .card-stock-price {
          margin-right: 23px;

          & span {
            font-size: 14px;

            &:last-child {
              font-size: 17px;
            }
          }
        }

        & .card-stock-buy a {
          width: 97px;
          height: 27px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .card-stock {
    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    &:nth-child(4n + 4) {
      margin-right: 30px;
    }
  }
}

@media (max-width: 767px) {
  .card-stock {
    margin-right: 90px;

    &:nth-child(2n + 2) {
      margin-right: 0;
    }

    &:nth-child(3n + 3) {
      margin-right: 90px;
    }
  }
}

@media (max-width: 539px) {
  .card-stock {
    margin-right: 30px;

    &:nth-child(2n+2) {
      margin-right: 30px;
    }

    &:nth-child(3n + 3) {
      margin-right: 30px;
    }
  }
}

@media (max-width: 509px) {
  .card-stock {
    margin-right: 0;
    width: 240px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}