@import "variables";

.card-basket {
  margin-top: 35px;
  display: flex;
  padding: 0 15px 22px 15px;
  border-bottom: 0.75px solid #A5A5A5;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 43px;
  }

  & .card-basket-img {
    margin-right: 30px;

    & img {
      width: 65px;
      height: 99px;
    }
  }

  & .card-basket-info {

    & .card-basket-info-title {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.03em;
    }

    & .card-basket-info-code {
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.03em;
      color: #A5A5A5;
    }

    & .card-basket-info-price_end_count {
      display: flex;
      align-items: center;
      color: #1B1B1B;
      font-style: normal;
      font-weight: 500;

      & .price {
        width: 150px;
        margin-right: 25px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.03em;
      }

      & .count {
        width: 130px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.04em;

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        & form {
          & div {
            & button {
              background: inherit;
              border: none;
              outline: none;
            }

            & .minus img {
              margin-bottom: 3px;
            }

            & input {
              width: 61px;
              height: 37px;
              background: #F4F4F4;
              border-radius: 5px;
              text-align: center;
              border: none;
            }
          }
        }
      }

      & .totalGoodsPrice {
        width: 115px;
      }
    }
  }

  & .card-basket-select-color {
    display: flex;
    flex-direction: column;
    margin: 21px 230px 0 70px;

    & span {
      margin-bottom: 14px;

      & button {
        margin-left: 10px;
        width: 135px;
        padding: 9px 11px;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        outline: none;
      }
    }

    & button {
      width: 249px;
      height: 37px;
      padding: 8px 55px;
      border: 1px solid #28A745;
      border-radius: 5px;
      background-color: #fff;
      outline: none;
      color: #646464;
      font-weight: 500;
      font-size: 18px;
      font-family: $Roboto;
      line-height: 21px;
      letter-spacing: 0.04em;
    }
  }

  & .card-basket-trash {
    & button {
      border: none;
      outline: none;
      background: inherit;
      cursor: pointer;
    }
  }
}