@import "variables";

.card-favorites {
  margin: 0 30px 36px 0;
  width: 255px;
  height: 508px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;

  & button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  & .card-favorites-img {
    position: relative;
    height: 361px;

    & img {
      width: 100%;
      height: 361px;
    }
  }

  & .card-favorites-content {
    padding: 20px 17px;
    height: 148px;

    & .card-favorites-title {
      height: 48px;
      font-family: $Roboto;
      font-weight: $bold;
      font-size: 16px;
      letter-spacing: 0.02em;
    }

    & .card-favorites-price_and_code {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $Roboto;
      margin-bottom: 11px;

      & .card-favorites-price {
        width: 94px;
        margin-right: 15px;
        font-size: 17px;

        & span {
          font-size: 17px;
          font-weight: $medium;
        }
      }

      & .card-favorites-code {
        font-family: $Roboto;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        color: $grey_A5;
      }
    }

    & .card-favorites-trash {
      margin-bottom: 19px;
      text-align: center;
      font-size: 1.4rem;

      & a {
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .card-favorites {
    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
}

@media (max-width: 1199px) {
  .card-favorites {
    width: 210px;
    height: 447px;

    &:nth-child(4n + 4) {
      margin-right: 0;
    }

    & .card-favorites-img {
      height: 297px;

      & img {
        height: 297px;
      }
    }

    & .card-favorites-content {
      height: 154px;

      & .card-favorites-title {
        margin-bottom: 15px;
        height: 40px;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 991px) {
  .card-favorites {
    margin-right: 30px !important;

    &:nth-child(3n + 3) {
      margin-right: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .card-favorites {
    margin: 0 30px 36px 0 !important;

    &:nth-child(3n + 3) {
      margin-right: 30px !important;
    }

    &:nth-child(2n + 2) {
      margin-right: 0 !important;
    }
  }
}

@media (max-width: 539px) {
  .card-favorites {
    margin-right: 30px;

    &:nth-child(2n+2) {
      margin-right: 30px;
    }

    &:nth-child(3n + 3) {
      margin-right: 30px;
    }
  }
}

@media (max-width: 509px) {
  .card-favorites {
    margin-right: 0 !important;
    width: 240px;

    &.card-favorites:nth-child(2n+2) {
      margin-right: 0 !important;
    }

    &:nth-child(3n + 3) {
      margin-right: 0 !important;
    }
  }
}