@import "variables";

.card-sale {
  margin: 0 30px 36px 0;
  width: 255px;
  height: 508px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;

  & button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  & .card-sale-img {
    position: relative;
    height: 361px;

    & img {
      width: 100%;
      height: 361px;
    }
  }

  & .card-sale-content {
    padding: 20px 0 0 17px;
    height: 148px;

    & .card-sale-title {
      height: 50px;
      font-family: $Roboto;
      font-weight: $bold;
      font-size: 16px;
      letter-spacing: 0.02em;
      margin-bottom: 24px;
    }

    & .card-sale-price_and_buy {
      display: flex;
      align-items: center;
      font-family: $Roboto;
      margin-bottom: 20px;

      & .card-sale-price {
        width: 94px;
        margin-right: 15px;
        font-size: 17px;
        color: #EC3939;

        & span {
          font-size: 20px;
          font-weight: $medium;
        }
      }

      & .card-sale-buy {
        margin-right: 19px;

        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 118px;
          height: 33px;
          text-decoration: none;
          color: $white;
          font-weight: $medium;
          font-size: 19px;
          letter-spacing: 0.03em;
          background-color: $green_28;
          border: 1px solid $green_28;
          border-radius: 6px;
        }
      }
    }

    & .card-sale-price_and_buy {
      display: flex;
    }
  }
}

@media (min-width: 1200px) {
  .card-sale {
    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
}

@media (max-width: 1199px) {
  .card-sale {
    width: 210px;
    height: 420px;

    & .card-sale-img {
      height: 297px;

      & img {
        height: 297px;
      }
    }

    & .card-sale-content {
      height: 154px;

      & .card-sale-title {
        margin-bottom: 15px;
        height: 40px;
        font-size: 15px;
      }

      & .card-sale-price_and_buy {
        & .card-sale-price {
          & span {
            font-size: 14px;

            &:last-child {
              font-size: 17px;
            }
          }
        }

        & .card-sale-buy a {
          width: 97px;
          height: 27px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .card-sale {
    margin-right: 30px;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .card-sale {
    margin: 0 0 36px 0;
  }
}

@media (max-width: 539px) {
  .card-sale {
    margin-right: 30px;

    &:nth-child(2n+2) {
      margin-right: 30px;
    }

    &:nth-child(3n + 3) {
      margin-right: 30px;
    }
  }
}

@media (max-width: 509px) {
  .card-sale {
    margin-right: 0;
    width: 240px;

    &.card-sale:nth-child(2n+2) {
      margin-right: 0;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}