#footer {
  position: relative;
  width: 100%;
  height: 393px;
  background-color: #3B3B3B;

  ul {
    list-style: none;
    padding: 0;
  }

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .footer_info {
    display: flex;
    align-items: center;

    & .row {
      height: 366px;

      & .footer-align {
        height: 304px;
      }

      & h3 {
        position: relative;
        color: #949494;
        margin-bottom: 14px;
        font-family: $Roboto;
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 0.85px;
        line-height: 26px;

        &:before {
          content: "";
          left: 0;
          bottom: 0;
          display: block;
          position: absolute;
          width: 37px;
          height: 1px;
          background-color: #1F7633;
        }
      }

      & .contacts {
        font-family: $Roboto;
        line-height: 114%;
        font-size: 15px;
        line-height: 20px;

        & li {
          display: flex;
          align-items: center;
          height: 30px;
          margin-bottom: 6px;
        }

        & [class*="icon-"] {
          color: #A5A5A5;
          font-size: 1rem;
          margin-right: 11px;
        }

        & .social_links {
          margin-top: 10px;

          & i {
            margin-right: 30px;
            font-size: 1.5rem;
          }
        }
      }

      & li {
        color: #F1F1F1;
        margin-bottom: 17px;

        & a {
          color: #F1F1F1;
          font-family: $OpenSans;
          font-size: 15px;
          line-height: 100%;
          letter-spacing: 0.6px;
        }
      }

      & div:nth-child(3) {
        padding-left: 44px;
      }
    }
  }

  & .footer_asten {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #ABABAB;
    font-family: $Roboto;
    font-weight: $medium;
    font-size: 12px;
    line-height: 114%;
    background-color: #000;

    & .row {
      height: 27px;
    }
  }
}

#footer_mobile {
  padding-top: 35px;
  display: none;
  position: relative;
  width: 100%;
  height: 847px;
  background-color: #3B3B3B;

  & h3 {
    margin-left: 17px;
    font-size: 22px;
    letter-spacing: 1.1px;
    line-height: 34px;
    position: relative;
    color: #949494;
    margin-bottom: 14px;
    font-family: $Roboto;
    font-weight: $medium;

    &:before {
      content: "";
      left: 0;
      bottom: 0;
      display: block;
      position: absolute;
      width: 37px;
      height: 1px;
      background-color: #1F7633;
    }
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & a {
    text-decoration: none;
  }

  & i {
    color: $grey_A5;
  }

  & .logo {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      margin-bottom: 51px;
      width: 156px;
    }

    & ul {
      width: 156px;
      margin-bottom: 95.5px;

      & li {
        margin-bottom: 29px;

        & a {
          color: #8c8c8c;
          font-family: $Roboto;
          font-size: 15px;
          font-weight: $medium;
          letter-spacing: 0.6px;
          line-height: 18px;
        }
      }
    }
  }

  & .contacts {
    margin-left: 15px;
    color: #f1f1f1;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.45px;
    line-height: 20px;
    font-family: $Roboto;

    & li {
      display: flex;
      align-items: center;
      height: 30px;
      margin-bottom: 21px;

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 18px;
      }
    }

    & [class*="icon-"] {
      color: #A5A5A5;
      font-size: 1rem;
      padding-right: 11px;
    }

    & .social_links {
      & i {
        margin-right: 30px;
        font-size: 1.5rem;
      }
    }
  }

  & .footer_asten {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #ABABAB;
    font-family: $Roboto;
    font-weight: $medium;
    font-size: 12px;
    line-height: 114%;
    background-color: #000;

    & .row {
      height: 27px;
    }
  }

  & .footer_last_head {
    margin-top: 55.5px;
  }

  & .footer_mobile_nav,
    .footer_mobile_info {

    & li {
      margin: 20px 0 0 15px;

      & a {
        color: $light_F1;
        font-family: $OpenSans;
        font-size: 15px;
        letter-spacing: 0.04em;
      }
    }
  }
}

@media (max-width: 1199px) {
  #footer .footer_info .row .contacts {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  #footer {
    display: none;
  }

  #footer_mobile {
    display: block;
  }
}

@media (max-width: 575px) {
  #footer_mobile {
    height: 1510px;

    & .footer_mobile_wrap {
      width: 262px;
    }
  }
}