@import "variables";

.modal {
  display: none;
  font-family: $Roboto;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;

  & .modalWrap {
    & .modalHeader {
      position: relative;
      display: flex;
      font-size: 15px;
      color: #777;

      & div {
        padding: 15px 25px;
        width: 100%;
        text-align: center;
      }

      & button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -10px;
        right: -12px;
        background-color: #fff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        outline: none;
        border: none;
        cursor: pointer;
        color: #a9a9a9;

        &:hover {
          color: #000;
        }
      }
    }

    & .modalContent {
      padding: 35px 50px;

      & form {
        display: flex;

        & label {
          width: 80px;
          height: 40px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;

          & input {
          }
        }
      }
    }
  }
}