#modalAuth {
  font-family: $Roboto;

  & .modalAuthWrap {
    & .modalAuth-header {
      position: relative;
      display: flex;
      font-size: 15px;
      color: #777;
      justify-content: space-between;
      align-items: baseline;
      padding: 26px 29px;
      border-bottom: 1px solid #B6B6B6;

      & span {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #1B1B1B;
      }

      & a {
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #4086B9;
        text-decoration: none;
        cursor: pointer;
      }

      & button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -10px;
        right: -12px;
        background-color: #fff;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        outline: none;
        border: none;
        cursor: pointer;
        color: #a9a9a9;

        &:hover {
          color: #000;
        }
      }
    }

    & .modalAuth-content {
      padding: 41px 30px 57px 30px;

      & label {
        margin-right: 25px;
        display: inline-block;
        width: 69px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #1B1B1B;
      }

      & input {
        width: 442px;
        height: 36px;
        outline: none;
        margin-bottom: 25px;
        border: 1px solid #B6B6B6;

        &:focus {
          border: 1px solid #3DABFB;
        }

        &#login-password {
          margin-bottom: 10px;
        }
      }

      & .invalid-feedback {
        margin: 0 0 5px 98px;
        display: inline-block;
        color: #f00;
        font-weight: normal;
        font-size: .9rem;
      }
    }

    & .login {
      & .remember-checker {
        margin-bottom: 36px;
        padding-left: 98px;
        display: flex;
        justify-content: space-between;

        & .form-check-input {
          margin-bottom: 0;
          width: 30px;
          cursor: pointer;
          display: none;

          &:checked + .form-check-label:before {
            content: "\2714";
            color: #fff;
            font-size: 12px;
            text-align: center;
            line-height: 15px;
            background-color: #3DABFB;
          }
        }

        & .form-check-label {
          width: 163px;
          cursor: pointer;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #1B1B1B;
          position: relative;
          left: 20px;

          &:before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 1px solid #CACACA;
            border-radius: 5px;
            position: absolute;
            left: -20px;
          }
        }

        & .pass-forgot {
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #4086B9;
          text-decoration: none;
        }
      }

      & button {
        margin-left: 98px;
        width: 109px;
        height: 35px;
        border: 1px solid #28A745;
        border-radius: 5px;
        background: #fff;
        outline: none;
      }
    }

    & .register {
      display: none;

      & button {
        margin-left: 98px;
        width: 207px;
        height: 35px;
        border: 1px solid #28A745;
        border-radius: 5px;
        background: #fff;
        outline: none;
      }
    }
  }
}