@import "variables";

#header {
  height: 162px;
  letter-spacing: 0.04em;
  font-family: $OpenSans;
  background-color: $black_1C;

  & .head {
    height: 119px;
    font-size: 14px;

    & .logo {
      padding: 26px 0 0 33px;

      & a {
        display: block;
      }
    }

    & .links_to_our_sites {
      margin: 10px 0 31px 129px;

      & a {
        color: $grey_C2;
        text-decoration: none;

        &:first-child {
          margin-right: 85px;
        }

        &:nth-child(2) {
          margin-right: 78px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .search_and_icons {
      display: flex;
      margin-left: 35px;

      & .search {
        margin-right: 111px;

        & form {
          position: relative;

          & input[type="text"] {
            padding-left: 11px;
            width: 513px;
            height: 28px;
            font-family: $Roboto;
            font-style: italic;
            border: none;
            outline: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
          }

          & button {
            color: $green_28;
            padding-top: 3px;
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 28px;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            outline: none;
            background-color: $light_F1;
          }
        }
      }

      & .icons a {
        margin-right: 30px;
        color: $grey_A5;
        font-size: 19px;
        text-decoration: none;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  & .nav {
    height: 43px;
    background-color: $grey_3C;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    & .menu {
      display: flex;
      letter-spacing: 0.04em;

      & li:first-child {
        margin: 0 45px 0 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-box-shadow: $shadow_3;
        -moz-box-shadow: $shadow_3;
        box-shadow: $shadow_3;
        z-index: 1;


        & .catalog_btn {
          width: 255px;
          height: 43px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $Roboto;
          font-weight: $bold;
          font-size: 18px;
          color: $grey_64;
          text-decoration: none;
          background-color: #FFFFFF;
          -webkit-box-shadow: $shadow_4;
          -moz-box-shadow: $shadow_4;
          box-shadow: $shadow_4;

          & i {
            padding-right: 15px;
            color: $green_28;
          }

          & span {
            font-weight: $light;
            padding-left: 7px;
          }
        }

        &:hover .catalog {
          display: block;
        }

        & .catalog {
          display: none;
          position: relative;
          width: 255px;
          height: 295px;
          letter-spacing: 0.08em;
          z-index: 101;
          background-color: #fff;

          & li a {
            font-size: 16px;
          }

          & .catalog-empty {
            height: 15px;
          }

          & .subcategory {
            width: 808px;
            position: absolute;
            top: 0;
            display: none;
            left: 255px;
            height: 295px;
            -webkit-box-shadow: $shadow_3;
            -moz-box-shadow: $shadow_3;
            box-shadow: $shadow_3;
            background-color: $light_F4;

            & .subcategory_list {
              display: flex;
              flex-direction: column;
              height: 100%;
              padding: 35px 40px 0 40px;
              flex-wrap: wrap;

              & li:first-child {
                margin-top: 0;
              }

              & li {
                margin-right: 44px;
                white-space: nowrap;

                & a {
                  margin-bottom: 20px;
                  font-size: 14px;
                  padding: 0;
                  width: 100%;
                  height: 100%;
                  font-family: $Roboto;
                  font-weight: $medium;

                  &:hover {
                    color: $green_74;
                    background-color: inherit;
                  }
                }
              }

              & li:last-child a {
                margin-bottom: 0;
              }
            }
          }

          & li {
            margin: 0;
            box-shadow: none;

            & a {
              width: 241px;
              height: 34px;
              position: relative;
              display: block;
              padding: 7px 0 0 14px;
              color: $grey_64;
              text-decoration: none;

              & span {
                position: relative;
                font-family: $Roboto;
                font-weight: $bold;

                &:before {
                  content: "";
                  width: 0;
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  height: 1px;
                  -webkit-transition: all .3s linear;
                  -moz-transition: all .3s linear;
                  -o-transition: all .3s linear;
                  transition: all .3s linear;
                  background-color: $green_74;
                }
              }

              &:hover {
                background-color: $light_F4;
              }

              &:hover span:before {
                width: 100%;
              }

              &:hover i {
                color: $green_74;
              }

              & i {
                position: absolute;
                top: 14px;
                right: 11px;
                font-size: .55rem;
              }
            }

            &:hover > .subcategory {
              display: block;
            }
          }
        }
      }

      & li {
        margin: 12px 0 14px 0;

        & a {
          color: $white;
          font-family: $OpenSans;
          font-size: 15px;
        }

        &:nth-child(2),
        &:nth-child(5) {
          margin-right: 85px;
        }

        &:nth-child(3),
        &:nth-child(4) {
          margin-right: 84px;
        }
      }
    }
  }
}

#header_mobile {
  height: 101px;
  background-color: $black_1C;
  position: relative;
  display: none;

  & .head_mobile {
    height: 100%;
    display: flex;
    align-items: center;

    & .logo {

      & a:first-child {
        display: block;

        & img {
          width: 167px;
          height: 100%;
        }
      }

      & div {
        font-family: $OpenSans;
        font-size: 2.5rem;

        & a {
          color: $green_28;
          text-decoration: none;
        }
      }
    }

    & .search {
      margin-left: 6px;

      & form {
        position: relative;

        & input[type="text"] {
          padding-left: 15px;
          width: 420px;
          height: 30px;
          font-family: $Roboto;
          font-style: italic;
          border: none;
          outline: none;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }

        & button {
          padding-top: 3px;
          position: absolute;
          top: 0;
          right: 0;
          width: 69px;
          height: 30px;
          border: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          outline: none;
          color: $green_28;
          background-color: $light_F4;
        }
      }
    }

    & .mobile_icons {
      height: 100%;
      align-items: center;

      & a {
        color: $grey_A5;
        text-decoration: none;
        font-size: 1.7rem;

        &:first-child {
          font-size: 2rem;
          margin-top: 8px;
        }

        &:last-child {
          font-size: 1.9rem;
        }
      }
    }

    & .collapse_mobile {
      margin: 35px 15px 32px 27px;

      & button {
        padding: 0;
        height: 30px;
        color: $green_28;
        outline: none;
        border: 0;
        background-color: inherit;
      }

      & #collapse_nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 331px;
        height: 894px;
        font-family: $OpenSans;
        background-color: $white;

        & .collapse_nav_head {
          padding: 30px 0 31px 118px;
          display: flex;
          align-items: center;
          width: 331px;
          height: 100px;
          color: $light_F4;
          font-size: 28px;
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
          background-color: $grey_3B;

          & button, img {
            width: 32px;
            height: 32px;
          }

          & div {
            margin-right: 69px;
            width: 94px;
            height: 39px;
          }
        }

        & .collapse_nav_content {
          height: 794px;

          & a {
            display: block;
            font-family: $OpenSans;
            color: $grey_64;
            text-decoration: none;
            padding-left: 16px;
          }

          & .collapse_nav_content_btn {
            letter-spacing: 0.04em;
            text-transform: capitalize;
            font-size: 20px;
            color: $grey_64;
            min-height: 69px;
            border-bottom: 1px solid #B8B8B8;

            & button {
              padding-left: 16px;
              width: 100%;
              height: 69px;
              text-align: left;
              font-family: $Roboto;
              font-weight: $light;
              color: $grey_64;
              position: relative;

              & i:before {
                position: absolute;
                top: 37%;
                right: 2%;
                transform: matrix(0, 1, 1, 0, 0, 0);
                color: rgba(99, 99, 99, 0.54);
              }
            }

            & span {
              font-family: $Roboto;
              font-weight: $bold;
            }

            & .collapse_nav_submenu {
              margin: 0;
              display: none;
              list-style: none;
              padding: 5px;
              font-size: 18px;
              height: 359px;
              border-top: 1px solid #B8B8B8;
              background-color: #F5F5F5;

              & li {
                margin-bottom: 23px;
              }

              & li:first-child {
                margin-top: 32px;
              }
            }
          }

          & .collapse_nav_icons {
            height: 179px;
            border-bottom: 1px solid #B8B8B8;
          }

          & .collapse_nav_menu {
            height: 290px;
            border-bottom: 1px solid #B8B8B8;
          }

          & .collapse_nav_our_sites {
            height: 175px;
            border-bottom: 1px solid #B8B8B8;
          }

          & .collapse_social_links {
            height: 73px;
            margin: 19px 0;
            font-size: 2rem;

            & a {
              height: 32px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  #header .head .links_to_our_sites {
    margin-left: 34px;
  }
  #header .head .links_to_our_sites a:first-child {
    margin-right: 64px;
  }
  #header .head .links_to_our_sites a:nth-child(2) {
    margin-right: 58px;
  }
  #header .head .search_and_icons .search {
    display: flex;
    align-items: center;
    margin-right: 35px;
  }
  #header .head .search_and_icons .icons a {
    margin-right: 15px;
  }
  #header .nav .menu li:first-child {
    margin: 0 17px 0 0;
  }
  #header .nav .menu li:nth-child(2),
  #header .nav .menu li:nth-child(3),
  #header .nav .menu li:nth-child(4),
  #header .nav .menu li:nth-child(5) {
    margin-right: 48px;
  }
  #header .head .search_and_icons .search form input[type=text] {
    width: 492px;
  }
  #header .nav .menu li:first-child .catalog .subcategory {
    width: 670px;
    height: 330px;
  }
}

@media (max-width: 991px) {
  #header {
    display: none;
  }
  #header_mobile {
    display: block;

    & .logo {
      & div {
        display: none;
      }
    }

    & .mobile_icons {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  #header_mobile {

    .head_mobile {

      & .logo {
        margin-right: 30px;

        & a:first-child {
          display: none;
        }

        & .nav_mobile_brand {
          display: block;

          & a {
            display: block;
          }
        }
      }

      & .search {
        display: none;
      }

      & .mobile_icons {
        display: flex;

        & a {
          margin-right: 18px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  #header_mobile {
    & .head_mobile {
      & .collapse_mobile {
        margin: 36px 15px 31px 27px;

        & button img {
          width: 39px;
        }
      }
    }
  }
  .sales_leaders_block .carousel .slick-list,
  .viewed_products_block .carousel .slick-list {
    margin-right: 0 !important;
  }
  .sales_leaders_block .carousel .slick-list .slick-slide,
  .viewed_products_block .carousel .slick-list .slick-slide {
    margin-right: 0 !important;
  }
}

@media (max-width: 469px) {
  #header_mobile {

    & .head_mobile {
      & .logo {
        display: none;
      }

      & .collapse_mobile {

        & #collapse_nav {
          width: 100%;

          & .collapse_nav_head {
            width: 100%;
            justify-content: center;
            position: relative;

            & button {
              position: absolute;
              right: 3%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 356px) {
  .sales_leaders_block .sales_leaders_head h2, .sales_leaders_block .viewed_products_head h2,
  .viewed_products_block .sales_leaders_head h2, .viewed_products_block .viewed_products_head h2 {
    font-size: 19px !important;
  }
}