@import "variables";

.slider {

  &.slick-slider {
    margin-bottom: 0;
  }

  & .slick-arrow {
    z-index: 1;
  }

  & .slick-prev {
    left: 18px;

    &:before {
      content: url("/images/slider/arrow_prev.png");
    }
  }

  & .slick-next {
    right: 18px;

    &:before {
      content: url("/images/slider/arrow_next.png");
    }
  }

  & .slick-dots {
    bottom: 9px;

    & li button:before {
      content: url("/images/slider/rectangle.png");
    }
  }

  .slider-item {
    position: relative;
    height: 411px;

    & img {
      width: 100%;
      height: 411px;
    }

    & .slider-content {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      color: $light_F1;
      background-color: rgba(53, 53, 53, 0.59);
      line-height: normal;
      letter-spacing: 0.03em;

      & .slider-content-head {
        font-family: $Rubik-Bold;
        text-transform: uppercase;
        font-size: 42px;
        margin-bottom: 13px;
      }

      & .slider-content-text {
        margin: 0;
        width: 558px;
        font-family: $Roboto;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}


@media (max-width: 549px) {
  .slider {
    display: none;
  }
}

@media (max-width: 767px) {
  .slider .slider-item .slider-content .slider-content-text {
    width: 100%;
  }
}

