.head-title {
  margin-bottom: 54px;
  display: flex;
  align-items: center;
  height: 53px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid #c2c2c2;
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.border-t {
  border-top: .5px solid #565656;
}

.border-r {
  border-right: .5px solid #565656;
}

.border-b {
  border-bottom: .5px solid #565656;
}

.border-error {
  border: 1px solid #EC3939 !important;
}

.z-index-101 {
  z-index: 101;
}

.color_9003 {
  color: #1B1B1B !important;
  background: #F8F9FA !important;
}
.color_9005 {
  color: #fff !important;
  background: #343A40 !important
}
.color_3020 {
  color: #fff !important;
  background: #DC3545 !important;
}
.color_7040 {
  color: #fff !important;
  background: #343A40 !important;
}
.color_5005 {
  color: #fff !important;
  background: #007BFF !important;
}
.color_9006 {
  color: #1B1B1B !important;
  background: #DDDDDD !important;
}
.color_7657 {
  color: #1B1B1B !important;
  background: #B4C9D4 !important;
}