// Fonts

$Rubik-Bold: 'Rubik', sans-serif     !default;
$Roboto:     'Roboto', sans-serif    !default;
$OpenSans:   'Open Sans', sans-serif !default;

$light:  300;
$medium: 500;
$bold:   700;

// Colors

$white:    #FFFFFF !default;
$light_F1: #F1F1F1 !default;
$light_F4: #F4F4F4 !default;
$grey_3C:  #3C3C3C !default;
$grey_3B:  #3B3B3B !default;
$grey_64:  #646464 !default;
$grey_A5:  #A5A5A5 !default;
$grey_C2:  #C2C2C2 !default;
$green_28: #28A745 !default;
$green_74: #74A980 !default;
$black_1C: #1C1C1C !default;

// Shadows

$shadow_3: 0 0 3px 0 rgba(0, 0, 0, .3);
$shadow_4: 0 0 4px 0 rgba(0, 0, 0, .25);
