@charset "UTF-8";
.head-title {
  margin-bottom: 54px;
  display: flex;
  align-items: center;
  height: 53px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid #c2c2c2;
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.border-t {
  border-top: 0.5px solid #565656;
}

.border-r {
  border-right: 0.5px solid #565656;
}

.border-b {
  border-bottom: 0.5px solid #565656;
}

.border-error {
  border: 1px solid #EC3939 !important;
}

.z-index-101 {
  z-index: 101;
}

.color_9003 {
  color: #1B1B1B !important;
  background: #F8F9FA !important;
}

.color_9005 {
  color: #fff !important;
  background: #343A40 !important;
}

.color_3020 {
  color: #fff !important;
  background: #DC3545 !important;
}

.color_7040 {
  color: #fff !important;
  background: #343A40 !important;
}

.color_5005 {
  color: #fff !important;
  background: #007BFF !important;
}

.color_9006 {
  color: #1B1B1B !important;
  background: #DDDDDD !important;
}

.color_7657 {
  color: #1B1B1B !important;
  background: #B4C9D4 !important;
}

#header {
  height: 162px;
  letter-spacing: 0.04em;
  font-family: "Open Sans", sans-serif;
  background-color: #1C1C1C;
}
#header .head {
  height: 119px;
  font-size: 14px;
}
#header .head .logo {
  padding: 26px 0 0 33px;
}
#header .head .logo a {
  display: block;
}
#header .head .links_to_our_sites {
  margin: 10px 0 31px 129px;
}
#header .head .links_to_our_sites a {
  color: #C2C2C2;
  text-decoration: none;
}
#header .head .links_to_our_sites a:first-child {
  margin-right: 85px;
}
#header .head .links_to_our_sites a:nth-child(2) {
  margin-right: 78px;
}
#header .head .links_to_our_sites a:last-child {
  margin-right: 0;
}
#header .head .links_to_our_sites a:hover {
  text-decoration: underline;
}
#header .head .search_and_icons {
  display: flex;
  margin-left: 35px;
}
#header .head .search_and_icons .search {
  margin-right: 111px;
}
#header .head .search_and_icons .search form {
  position: relative;
}
#header .head .search_and_icons .search form input[type=text] {
  padding-left: 11px;
  width: 513px;
  height: 28px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#header .head .search_and_icons .search form button {
  color: #28A745;
  padding-top: 3px;
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 28px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  background-color: #F1F1F1;
}
#header .head .search_and_icons .icons a {
  margin-right: 30px;
  color: #A5A5A5;
  font-size: 19px;
  text-decoration: none;
}
#header .head .search_and_icons .icons a:last-child {
  margin-right: 0;
}
#header .nav {
  height: 43px;
  background-color: #3C3C3C;
}
#header .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#header .nav a {
  text-decoration: none;
}
#header .nav a:hover {
  text-decoration: underline;
}
#header .nav .menu {
  display: flex;
  letter-spacing: 0.04em;
}
#header .nav .menu li:first-child {
  margin: 0 45px 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#header .nav .menu li:first-child .catalog_btn {
  width: 255px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #646464;
  text-decoration: none;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
#header .nav .menu li:first-child .catalog_btn i {
  padding-right: 15px;
  color: #28A745;
}
#header .nav .menu li:first-child .catalog_btn span {
  font-weight: 300;
  padding-left: 7px;
}
#header .nav .menu li:first-child:hover .catalog {
  display: block;
}
#header .nav .menu li:first-child .catalog {
  display: none;
  position: relative;
  width: 255px;
  height: 295px;
  letter-spacing: 0.08em;
  z-index: 101;
  background-color: #fff;
}
#header .nav .menu li:first-child .catalog li a {
  font-size: 16px;
}
#header .nav .menu li:first-child .catalog .catalog-empty {
  height: 15px;
}
#header .nav .menu li:first-child .catalog .subcategory {
  width: 808px;
  position: absolute;
  top: 0;
  display: none;
  left: 255px;
  height: 295px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
}
#header .nav .menu li:first-child .catalog .subcategory .subcategory_list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 35px 40px 0 40px;
  flex-wrap: wrap;
}
#header .nav .menu li:first-child .catalog .subcategory .subcategory_list li:first-child {
  margin-top: 0;
}
#header .nav .menu li:first-child .catalog .subcategory .subcategory_list li {
  margin-right: 44px;
  white-space: nowrap;
}
#header .nav .menu li:first-child .catalog .subcategory .subcategory_list li a {
  margin-bottom: 20px;
  font-size: 14px;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#header .nav .menu li:first-child .catalog .subcategory .subcategory_list li a:hover {
  color: #74A980;
  background-color: inherit;
}
#header .nav .menu li:first-child .catalog .subcategory .subcategory_list li:last-child a {
  margin-bottom: 0;
}
#header .nav .menu li:first-child .catalog li {
  margin: 0;
  box-shadow: none;
}
#header .nav .menu li:first-child .catalog li a {
  width: 241px;
  height: 34px;
  position: relative;
  display: block;
  padding: 7px 0 0 14px;
  color: #646464;
  text-decoration: none;
}
#header .nav .menu li:first-child .catalog li a span {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#header .nav .menu li:first-child .catalog li a span:before {
  content: "";
  width: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #74A980;
}
#header .nav .menu li:first-child .catalog li a:hover {
  background-color: #F4F4F4;
}
#header .nav .menu li:first-child .catalog li a:hover span:before {
  width: 100%;
}
#header .nav .menu li:first-child .catalog li a:hover i {
  color: #74A980;
}
#header .nav .menu li:first-child .catalog li a i {
  position: absolute;
  top: 14px;
  right: 11px;
  font-size: 0.55rem;
}
#header .nav .menu li:first-child .catalog li:hover > .subcategory {
  display: block;
}
#header .nav .menu li {
  margin: 12px 0 14px 0;
}
#header .nav .menu li a {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
#header .nav .menu li:nth-child(2), #header .nav .menu li:nth-child(5) {
  margin-right: 85px;
}
#header .nav .menu li:nth-child(3), #header .nav .menu li:nth-child(4) {
  margin-right: 84px;
}

#header_mobile {
  height: 101px;
  background-color: #1C1C1C;
  position: relative;
  display: none;
}
#header_mobile .head_mobile {
  height: 100%;
  display: flex;
  align-items: center;
}
#header_mobile .head_mobile .logo a:first-child {
  display: block;
}
#header_mobile .head_mobile .logo a:first-child img {
  width: 167px;
  height: 100%;
}
#header_mobile .head_mobile .logo div {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
}
#header_mobile .head_mobile .logo div a {
  color: #28A745;
  text-decoration: none;
}
#header_mobile .head_mobile .search {
  margin-left: 6px;
}
#header_mobile .head_mobile .search form {
  position: relative;
}
#header_mobile .head_mobile .search form input[type=text] {
  padding-left: 15px;
  width: 420px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#header_mobile .head_mobile .search form button {
  padding-top: 3px;
  position: absolute;
  top: 0;
  right: 0;
  width: 69px;
  height: 30px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  color: #28A745;
  background-color: #F4F4F4;
}
#header_mobile .head_mobile .mobile_icons {
  height: 100%;
  align-items: center;
}
#header_mobile .head_mobile .mobile_icons a {
  color: #A5A5A5;
  text-decoration: none;
  font-size: 1.7rem;
}
#header_mobile .head_mobile .mobile_icons a:first-child {
  font-size: 2rem;
  margin-top: 8px;
}
#header_mobile .head_mobile .mobile_icons a:last-child {
  font-size: 1.9rem;
}
#header_mobile .head_mobile .collapse_mobile {
  margin: 35px 15px 32px 27px;
}
#header_mobile .head_mobile .collapse_mobile button {
  padding: 0;
  height: 30px;
  color: #28A745;
  outline: none;
  border: 0;
  background-color: inherit;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 331px;
  height: 894px;
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_head {
  padding: 30px 0 31px 118px;
  display: flex;
  align-items: center;
  width: 331px;
  height: 100px;
  color: #F4F4F4;
  font-size: 28px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
  background-color: #3B3B3B;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_head button, #header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_head img {
  width: 32px;
  height: 32px;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_head div {
  margin-right: 69px;
  width: 94px;
  height: 39px;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content {
  height: 794px;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content a {
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #646464;
  text-decoration: none;
  padding-left: 16px;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_content_btn {
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-size: 20px;
  color: #646464;
  min-height: 69px;
  border-bottom: 1px solid #B8B8B8;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_content_btn button {
  padding-left: 16px;
  width: 100%;
  height: 69px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #646464;
  position: relative;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_content_btn button i:before {
  position: absolute;
  top: 37%;
  right: 2%;
  transform: matrix(0, 1, 1, 0, 0, 0);
  color: rgba(99, 99, 99, 0.54);
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_content_btn span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_content_btn .collapse_nav_submenu {
  margin: 0;
  display: none;
  list-style: none;
  padding: 5px;
  font-size: 18px;
  height: 359px;
  border-top: 1px solid #B8B8B8;
  background-color: #F5F5F5;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_content_btn .collapse_nav_submenu li {
  margin-bottom: 23px;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_content_btn .collapse_nav_submenu li:first-child {
  margin-top: 32px;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_icons {
  height: 179px;
  border-bottom: 1px solid #B8B8B8;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_menu {
  height: 290px;
  border-bottom: 1px solid #B8B8B8;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_nav_our_sites {
  height: 175px;
  border-bottom: 1px solid #B8B8B8;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_social_links {
  height: 73px;
  margin: 19px 0;
  font-size: 2rem;
}
#header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_content .collapse_social_links a {
  height: 32px;
}

@media (max-width: 1199px) {
  #header .head .links_to_our_sites {
    margin-left: 34px;
  }

  #header .head .links_to_our_sites a:first-child {
    margin-right: 64px;
  }

  #header .head .links_to_our_sites a:nth-child(2) {
    margin-right: 58px;
  }

  #header .head .search_and_icons .search {
    display: flex;
    align-items: center;
    margin-right: 35px;
  }

  #header .head .search_and_icons .icons a {
    margin-right: 15px;
  }

  #header .nav .menu li:first-child {
    margin: 0 17px 0 0;
  }

  #header .nav .menu li:nth-child(2),
#header .nav .menu li:nth-child(3),
#header .nav .menu li:nth-child(4),
#header .nav .menu li:nth-child(5) {
    margin-right: 48px;
  }

  #header .head .search_and_icons .search form input[type=text] {
    width: 492px;
  }

  #header .nav .menu li:first-child .catalog .subcategory {
    width: 670px;
    height: 330px;
  }
}
@media (max-width: 991px) {
  #header {
    display: none;
  }

  #header_mobile {
    display: block;
  }
  #header_mobile .logo div {
    display: none;
  }
  #header_mobile .mobile_icons {
    display: none;
  }
}
@media (max-width: 767px) {
  #header_mobile .head_mobile .logo {
    margin-right: 30px;
  }
  #header_mobile .head_mobile .logo a:first-child {
    display: none;
  }
  #header_mobile .head_mobile .logo .nav_mobile_brand {
    display: block;
  }
  #header_mobile .head_mobile .logo .nav_mobile_brand a {
    display: block;
  }
  #header_mobile .head_mobile .search {
    display: none;
  }
  #header_mobile .head_mobile .mobile_icons {
    display: flex;
  }
  #header_mobile .head_mobile .mobile_icons a {
    margin-right: 18px;
  }
}
@media (max-width: 575px) {
  #header_mobile .head_mobile .collapse_mobile {
    margin: 36px 15px 31px 27px;
  }
  #header_mobile .head_mobile .collapse_mobile button img {
    width: 39px;
  }

  .sales_leaders_block .carousel .slick-list,
.viewed_products_block .carousel .slick-list {
    margin-right: 0 !important;
  }

  .sales_leaders_block .carousel .slick-list .slick-slide,
.viewed_products_block .carousel .slick-list .slick-slide {
    margin-right: 0 !important;
  }
}
@media (max-width: 469px) {
  #header_mobile .head_mobile .logo {
    display: none;
  }
  #header_mobile .head_mobile .collapse_mobile #collapse_nav {
    width: 100%;
  }
  #header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_head {
    width: 100%;
    justify-content: center;
    position: relative;
  }
  #header_mobile .head_mobile .collapse_mobile #collapse_nav .collapse_nav_head button {
    position: absolute;
    right: 3%;
  }
}
@media (max-width: 356px) {
  .sales_leaders_block .sales_leaders_head h2, .sales_leaders_block .viewed_products_head h2,
.viewed_products_block .sales_leaders_head h2, .viewed_products_block .viewed_products_head h2 {
    font-size: 19px !important;
  }
}
.slider.slick-slider {
  margin-bottom: 0;
}
.slider .slick-arrow {
  z-index: 1;
}
.slider .slick-prev {
  left: 18px;
}
.slider .slick-prev:before {
  content: url("/images/slider/arrow_prev.png");
}
.slider .slick-next {
  right: 18px;
}
.slider .slick-next:before {
  content: url("/images/slider/arrow_next.png");
}
.slider .slick-dots {
  bottom: 9px;
}
.slider .slick-dots li button:before {
  content: url("/images/slider/rectangle.png");
}
.slider .slider-item {
  position: relative;
  height: 411px;
}
.slider .slider-item img {
  width: 100%;
  height: 411px;
}
.slider .slider-item .slider-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #F1F1F1;
  background-color: rgba(53, 53, 53, 0.59);
  line-height: normal;
  letter-spacing: 0.03em;
}
.slider .slider-item .slider-content .slider-content-head {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 13px;
}
.slider .slider-item .slider-content .slider-content-text {
  margin: 0;
  width: 558px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 549px) {
  .slider {
    display: none;
  }
}
@media (max-width: 767px) {
  .slider .slider-item .slider-content .slider-content-text {
    width: 100%;
  }
}
#footer {
  position: relative;
  width: 100%;
  height: 393px;
  background-color: #3B3B3B;
}
#footer ul {
  list-style: none;
  padding: 0;
}
#footer a {
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer .footer_info {
  display: flex;
  align-items: center;
}
#footer .footer_info .row {
  height: 366px;
}
#footer .footer_info .row .footer-align {
  height: 304px;
}
#footer .footer_info .row h3 {
  position: relative;
  color: #949494;
  margin-bottom: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.85px;
  line-height: 26px;
}
#footer .footer_info .row h3:before {
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  position: absolute;
  width: 37px;
  height: 1px;
  background-color: #1F7633;
}
#footer .footer_info .row .contacts {
  font-family: "Roboto", sans-serif;
  line-height: 114%;
  font-size: 15px;
  line-height: 20px;
}
#footer .footer_info .row .contacts li {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 6px;
}
#footer .footer_info .row .contacts [class*=icon-] {
  color: #A5A5A5;
  font-size: 1rem;
  margin-right: 11px;
}
#footer .footer_info .row .contacts .social_links {
  margin-top: 10px;
}
#footer .footer_info .row .contacts .social_links i {
  margin-right: 30px;
  font-size: 1.5rem;
}
#footer .footer_info .row li {
  color: #F1F1F1;
  margin-bottom: 17px;
}
#footer .footer_info .row li a {
  color: #F1F1F1;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.6px;
}
#footer .footer_info .row div:nth-child(3) {
  padding-left: 44px;
}
#footer .footer_asten {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #ABABAB;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 114%;
  background-color: #000;
}
#footer .footer_asten .row {
  height: 27px;
}

#footer_mobile {
  padding-top: 35px;
  display: none;
  position: relative;
  width: 100%;
  height: 847px;
  background-color: #3B3B3B;
}
#footer_mobile h3 {
  margin-left: 17px;
  font-size: 22px;
  letter-spacing: 1.1px;
  line-height: 34px;
  position: relative;
  color: #949494;
  margin-bottom: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#footer_mobile h3:before {
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  position: absolute;
  width: 37px;
  height: 1px;
  background-color: #1F7633;
}
#footer_mobile ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#footer_mobile a {
  text-decoration: none;
}
#footer_mobile i {
  color: #A5A5A5;
}
#footer_mobile .logo {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer_mobile .logo img {
  margin-bottom: 51px;
  width: 156px;
}
#footer_mobile .logo ul {
  width: 156px;
  margin-bottom: 95.5px;
}
#footer_mobile .logo ul li {
  margin-bottom: 29px;
}
#footer_mobile .logo ul li a {
  color: #8c8c8c;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 18px;
}
#footer_mobile .contacts {
  margin-left: 15px;
  color: #f1f1f1;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.45px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
}
#footer_mobile .contacts li {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 21px;
}
#footer_mobile .contacts li:nth-child(3), #footer_mobile .contacts li:nth-child(4) {
  margin-bottom: 18px;
}
#footer_mobile .contacts [class*=icon-] {
  color: #A5A5A5;
  font-size: 1rem;
  padding-right: 11px;
}
#footer_mobile .contacts .social_links i {
  margin-right: 30px;
  font-size: 1.5rem;
}
#footer_mobile .footer_asten {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #ABABAB;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 114%;
  background-color: #000;
}
#footer_mobile .footer_asten .row {
  height: 27px;
}
#footer_mobile .footer_last_head {
  margin-top: 55.5px;
}
#footer_mobile .footer_mobile_nav li,
#footer_mobile .footer_mobile_info li {
  margin: 20px 0 0 15px;
}
#footer_mobile .footer_mobile_nav li a,
#footer_mobile .footer_mobile_info li a {
  color: #F1F1F1;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 0.04em;
}

@media (max-width: 1199px) {
  #footer .footer_info .row .contacts {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  #footer {
    display: none;
  }

  #footer_mobile {
    display: block;
  }
}
@media (max-width: 575px) {
  #footer_mobile {
    height: 1510px;
  }
  #footer_mobile .footer_mobile_wrap {
    width: 262px;
  }
}
.card-standard {
  margin-bottom: 5px;
  width: 255px;
  height: 558px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  outline: none;
}
.card-standard a {
  outline: none;
}
.card-standard button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.card-standard .card-standard-img {
  position: relative;
  height: 361px;
}
.card-standard .card-standard-img img {
  width: 100%;
  height: 361px;
  outline: none;
}
.card-standard .card-standard-img .card-standard-favorite {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1.5rem;
}
.card-standard .card-standard-content {
  padding: 20px 0 0 17px;
  height: 168px;
}
.card-standard .card-standard-content .card-standard-title {
  height: 54px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 21px;
}
.card-standard .card-standard-content .card-standard-ratings_and_comments {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 26px;
  color: #646464;
}
.card-standard .card-standard-content .card-standard-ratings_and_comments .card-standard-ratings {
  margin-right: 17px;
}
.card-standard .card-standard-content .card-standard-ratings_and_comments .card-standard-comments {
  font-size: 13px;
  letter-spacing: 0.03em;
}
.card-standard .card-standard-content .card-standard-price_and_buy {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.card-standard .card-standard-content .card-standard-price_and_buy .card-standard-price {
  margin-right: 15px;
  font-size: 17px;
}
.card-standard .card-standard-content .card-standard-price_and_buy .card-standard-price span {
  font-size: 20px;
  font-weight: 500;
}
.card-standard .card-standard-content .card-standard-price_and_buy .card-standard-buy a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 33px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 0.03em;
  background-color: #28A745;
  border: 1px solid #28A745;
  border-radius: 6px;
}
.card-standard .card-standard-content .card-standard-ratings_and_comments, .card-standard .card-standard-content .card-standard-price_and_buy {
  display: flex;
}

@media (max-width: 1199px) {
  .card-standard {
    width: 210px;
    height: 450.65px;
  }
  .card-standard .card-standard-img {
    height: 297px;
  }
  .card-standard .card-standard-img img {
    height: 297px;
  }
  .card-standard .card-standard-content {
    height: 154px;
  }
  .card-standard .card-standard-content .card-standard-title {
    margin-bottom: 15px;
    height: 40px;
    font-size: 15px;
  }
  .card-standard .card-standard-content .card-standard-ratings_and_comments {
    margin-bottom: 17px;
  }
  .card-standard .card-standard-content .card-standard-ratings_and_comments .card-standard-ratings {
    margin-right: 10px;
  }
  .card-standard .card-standard-content .card-standard-price_and_buy .card-standard-price {
    margin-right: 23px;
  }
  .card-standard .card-standard-content .card-standard-price_and_buy .card-standard-price span {
    font-size: 14px;
  }
  .card-standard .card-standard-content .card-standard-price_and_buy .card-standard-price span:last-child {
    font-size: 17px;
  }
  .card-standard .card-standard-content .card-standard-price_and_buy .card-standard-buy a {
    width: 97px;
    height: 27px;
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .card-standard:nth-child(3n+3) {
    margin-right: 0;
  }
  .card-standard:nth-child(4n+4) {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .card-standard {
    margin-right: 90px;
  }
  .card-standard:nth-child(2n+2) {
    margin-right: 0;
  }
  .card-standard:nth-child(3n+3) {
    margin-right: 90px;
  }
}
@media (max-width: 539px) {
  .card-standard {
    margin-right: 30px;
  }
  .card-standard:nth-child(2n+2) {
    margin-right: 30px;
  }
  .card-standard:nth-child(3n+3) {
    margin-right: 30px;
  }
}
@media (max-width: 509px) {
  .card-standard {
    margin-right: 0;
    width: 240px;
  }
  .card-standard:nth-child(2n+2) {
    margin-right: 0;
  }
  .card-standard:nth-child(3n+3) {
    margin-right: 0;
  }
}
.card-sale {
  margin: 0 30px 36px 0;
  width: 255px;
  height: 508px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
}
.card-sale button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.card-sale .card-sale-img {
  position: relative;
  height: 361px;
}
.card-sale .card-sale-img img {
  width: 100%;
  height: 361px;
}
.card-sale .card-sale-content {
  padding: 20px 0 0 17px;
  height: 148px;
}
.card-sale .card-sale-content .card-sale-title {
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
}
.card-sale .card-sale-content .card-sale-price_and_buy {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.card-sale .card-sale-content .card-sale-price_and_buy .card-sale-price {
  width: 94px;
  margin-right: 15px;
  font-size: 17px;
  color: #EC3939;
}
.card-sale .card-sale-content .card-sale-price_and_buy .card-sale-price span {
  font-size: 20px;
  font-weight: 500;
}
.card-sale .card-sale-content .card-sale-price_and_buy .card-sale-buy {
  margin-right: 19px;
}
.card-sale .card-sale-content .card-sale-price_and_buy .card-sale-buy a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 33px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 0.03em;
  background-color: #28A745;
  border: 1px solid #28A745;
  border-radius: 6px;
}
.card-sale .card-sale-content .card-sale-price_and_buy {
  display: flex;
}

@media (min-width: 1200px) {
  .card-sale:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media (max-width: 1199px) {
  .card-sale {
    width: 210px;
    height: 420px;
  }
  .card-sale .card-sale-img {
    height: 297px;
  }
  .card-sale .card-sale-img img {
    height: 297px;
  }
  .card-sale .card-sale-content {
    height: 154px;
  }
  .card-sale .card-sale-content .card-sale-title {
    margin-bottom: 15px;
    height: 40px;
    font-size: 15px;
  }
  .card-sale .card-sale-content .card-sale-price_and_buy .card-sale-price span {
    font-size: 14px;
  }
  .card-sale .card-sale-content .card-sale-price_and_buy .card-sale-price span:last-child {
    font-size: 17px;
  }
  .card-sale .card-sale-content .card-sale-price_and_buy .card-sale-buy a {
    width: 97px;
    height: 27px;
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .card-sale {
    margin-right: 30px;
  }
  .card-sale:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .card-sale {
    margin: 0 0 36px 0;
  }
}
@media (max-width: 539px) {
  .card-sale {
    margin-right: 30px;
  }
  .card-sale:nth-child(2n+2) {
    margin-right: 30px;
  }
  .card-sale:nth-child(3n+3) {
    margin-right: 30px;
  }
}
@media (max-width: 509px) {
  .card-sale {
    margin-right: 0;
    width: 240px;
  }
  .card-sale.card-sale:nth-child(2n+2) {
    margin-right: 0;
  }
  .card-sale:nth-child(3n+3) {
    margin-right: 0;
  }
}
.card-stock {
  margin: 0 30px 36px 0;
  width: 255px;
  height: 558px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  color: #1B1B1B;
}
.card-stock:nth-child(4n+4) {
  margin-right: 0;
}
.card-stock button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.card-stock .card-stock-img {
  position: relative;
  height: 361px;
}
.card-stock .card-stock-img img {
  width: 100%;
  height: 361px;
}
.card-stock .card-stock-img .card-stock-favorite {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1.5rem;
}
.card-stock .card-stock-content {
  padding: 20px 0 0 17px;
  height: 187px;
}
.card-stock .card-stock-content .card-stock-title {
  height: 54px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 21px;
}
.card-stock .card-stock-content .card-stock-ratings_and_comments {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 21px;
  color: #646464;
}
.card-stock .card-stock-content .card-stock-ratings_and_comments .card-stock-ratings {
  margin-right: 17px;
}
.card-stock .card-stock-content .card-stock-ratings_and_comments .card-stock-comments {
  font-size: 13px;
  letter-spacing: 0.03em;
}
.card-stock .card-stock-content .card-stock-price_and_buy {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.card-stock .card-stock-content .card-stock-price_and_buy .card-stock-price {
  margin-right: 15px;
  font-size: 17px;
}
.card-stock .card-stock-content .card-stock-price_and_buy .card-stock-price span {
  color: #646464;
  font-weight: 500;
}
.card-stock .card-stock-content .card-stock-price_and_buy .card-stock-price span:first-child {
  letter-spacing: 0.03em;
  text-decoration: line-through;
  text-decoration-color: #EC3939;
}
.card-stock .card-stock-content .card-stock-price_and_buy .card-stock-price .stock-price {
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #EC3939;
}
.card-stock .card-stock-content .card-stock-price_and_buy .card-stock-buy a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 33px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 0.03em;
  background-color: #28A745;
  border: 1px solid #28A745;
  border-radius: 6px;
}
.card-stock .card-stock-content .card-stock-ratings_and_comments, .card-stock .card-stock-content .card-stock-price_and_buy {
  display: flex;
}

@media (max-width: 1199px) {
  .card-stock {
    width: 210px;
    height: 450.65px;
  }
  .card-stock .card-stock-img {
    height: 297px;
  }
  .card-stock .card-stock-img img {
    height: 297px;
  }
  .card-stock .card-stock-content {
    height: 154px;
  }
  .card-stock .card-stock-content .card-stock-title {
    margin-bottom: 15px;
    height: 40px;
    font-size: 15px;
  }
  .card-stock .card-stock-content .card-stock-ratings_and_comments {
    margin-bottom: 17px;
  }
  .card-stock .card-stock-content .card-stock-ratings_and_comments .card-stock-ratings {
    margin-right: 10px;
  }
  .card-stock .card-stock-content .card-stock-price_and_buy .card-stock-price {
    margin-right: 23px;
  }
  .card-stock .card-stock-content .card-stock-price_and_buy .card-stock-price span {
    font-size: 14px;
  }
  .card-stock .card-stock-content .card-stock-price_and_buy .card-stock-price span:last-child {
    font-size: 17px;
  }
  .card-stock .card-stock-content .card-stock-price_and_buy .card-stock-buy a {
    width: 97px;
    height: 27px;
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .card-stock:nth-child(3n+3) {
    margin-right: 0;
  }
  .card-stock:nth-child(4n+4) {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .card-stock {
    margin-right: 90px;
  }
  .card-stock:nth-child(2n+2) {
    margin-right: 0;
  }
  .card-stock:nth-child(3n+3) {
    margin-right: 90px;
  }
}
@media (max-width: 539px) {
  .card-stock {
    margin-right: 30px;
  }
  .card-stock:nth-child(2n+2) {
    margin-right: 30px;
  }
  .card-stock:nth-child(3n+3) {
    margin-right: 30px;
  }
}
@media (max-width: 509px) {
  .card-stock {
    margin-right: 0;
    width: 240px;
  }
  .card-stock:nth-child(2n+2) {
    margin-right: 0;
  }
  .card-stock:nth-child(3n+3) {
    margin-right: 0;
  }
}
.card-favorites {
  margin: 0 30px 36px 0;
  width: 255px;
  height: 508px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
}
.card-favorites button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.card-favorites .card-favorites-img {
  position: relative;
  height: 361px;
}
.card-favorites .card-favorites-img img {
  width: 100%;
  height: 361px;
}
.card-favorites .card-favorites-content {
  padding: 20px 17px;
  height: 148px;
}
.card-favorites .card-favorites-content .card-favorites-title {
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.card-favorites .card-favorites-content .card-favorites-price_and_code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 11px;
}
.card-favorites .card-favorites-content .card-favorites-price_and_code .card-favorites-price {
  width: 94px;
  margin-right: 15px;
  font-size: 17px;
}
.card-favorites .card-favorites-content .card-favorites-price_and_code .card-favorites-price span {
  font-size: 17px;
  font-weight: 500;
}
.card-favorites .card-favorites-content .card-favorites-price_and_code .card-favorites-code {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #A5A5A5;
}
.card-favorites .card-favorites-content .card-favorites-trash {
  margin-bottom: 19px;
  text-align: center;
  font-size: 1.4rem;
}
.card-favorites .card-favorites-content .card-favorites-trash a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .card-favorites:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media (max-width: 1199px) {
  .card-favorites {
    width: 210px;
    height: 447px;
  }
  .card-favorites:nth-child(4n+4) {
    margin-right: 0;
  }
  .card-favorites .card-favorites-img {
    height: 297px;
  }
  .card-favorites .card-favorites-img img {
    height: 297px;
  }
  .card-favorites .card-favorites-content {
    height: 154px;
  }
  .card-favorites .card-favorites-content .card-favorites-title {
    margin-bottom: 15px;
    height: 40px;
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .card-favorites {
    margin-right: 30px !important;
  }
  .card-favorites:nth-child(3n+3) {
    margin-right: 0 !important;
  }
}
@media (max-width: 767px) {
  .card-favorites {
    margin: 0 30px 36px 0 !important;
  }
  .card-favorites:nth-child(3n+3) {
    margin-right: 30px !important;
  }
  .card-favorites:nth-child(2n+2) {
    margin-right: 0 !important;
  }
}
@media (max-width: 539px) {
  .card-favorites {
    margin-right: 30px;
  }
  .card-favorites:nth-child(2n+2) {
    margin-right: 30px;
  }
  .card-favorites:nth-child(3n+3) {
    margin-right: 30px;
  }
}
@media (max-width: 509px) {
  .card-favorites {
    margin-right: 0 !important;
    width: 240px;
  }
  .card-favorites.card-favorites:nth-child(2n+2) {
    margin-right: 0 !important;
  }
  .card-favorites:nth-child(3n+3) {
    margin-right: 0 !important;
  }
}
.card-basket {
  margin-top: 35px;
  display: flex;
  padding: 0 15px 22px 15px;
  border-bottom: 0.75px solid #A5A5A5;
}
.card-basket:first-child {
  margin-top: 0;
}
.card-basket:last-child {
  margin-bottom: 43px;
}
.card-basket .card-basket-img {
  margin-right: 30px;
}
.card-basket .card-basket-img img {
  width: 65px;
  height: 99px;
}
.card-basket .card-basket-info .card-basket-info-title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
}
.card-basket .card-basket-info .card-basket-info-code {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #A5A5A5;
}
.card-basket .card-basket-info .card-basket-info-price_end_count {
  display: flex;
  align-items: center;
  color: #1B1B1B;
  font-style: normal;
  font-weight: 500;
}
.card-basket .card-basket-info .card-basket-info-price_end_count .price {
  width: 150px;
  margin-right: 25px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
}
.card-basket .card-basket-info .card-basket-info-price_end_count .count {
  width: 130px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.04em;
}
.card-basket .card-basket-info .card-basket-info-price_end_count .count input[type=number]::-webkit-inner-spin-button,
.card-basket .card-basket-info .card-basket-info-price_end_count .count input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-basket .card-basket-info .card-basket-info-price_end_count .count form div button {
  background: inherit;
  border: none;
  outline: none;
}
.card-basket .card-basket-info .card-basket-info-price_end_count .count form div .minus img {
  margin-bottom: 3px;
}
.card-basket .card-basket-info .card-basket-info-price_end_count .count form div input {
  width: 61px;
  height: 37px;
  background: #F4F4F4;
  border-radius: 5px;
  text-align: center;
  border: none;
}
.card-basket .card-basket-info .card-basket-info-price_end_count .totalGoodsPrice {
  width: 115px;
}
.card-basket .card-basket-select-color {
  display: flex;
  flex-direction: column;
  margin: 21px 230px 0 70px;
}
.card-basket .card-basket-select-color span {
  margin-bottom: 14px;
}
.card-basket .card-basket-select-color span button {
  margin-left: 10px;
  width: 135px;
  padding: 9px 11px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  outline: none;
}
.card-basket .card-basket-select-color button {
  width: 249px;
  height: 37px;
  padding: 8px 55px;
  border: 1px solid #28A745;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  color: #646464;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  letter-spacing: 0.04em;
}
.card-basket .card-basket-trash button {
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
}

#modalAuth {
  font-family: "Roboto", sans-serif;
}
#modalAuth .modalAuthWrap .modalAuth-header {
  position: relative;
  display: flex;
  font-size: 15px;
  color: #777;
  justify-content: space-between;
  align-items: baseline;
  padding: 26px 29px;
  border-bottom: 1px solid #B6B6B6;
}
#modalAuth .modalAuthWrap .modalAuth-header span {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #1B1B1B;
}
#modalAuth .modalAuthWrap .modalAuth-header a {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4086B9;
  text-decoration: none;
  cursor: pointer;
}
#modalAuth .modalAuthWrap .modalAuth-header button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -12px;
  background-color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #a9a9a9;
}
#modalAuth .modalAuthWrap .modalAuth-header button:hover {
  color: #000;
}
#modalAuth .modalAuthWrap .modalAuth-content {
  padding: 41px 30px 57px 30px;
}
#modalAuth .modalAuthWrap .modalAuth-content label {
  margin-right: 25px;
  display: inline-block;
  width: 69px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #1B1B1B;
}
#modalAuth .modalAuthWrap .modalAuth-content input {
  width: 442px;
  height: 36px;
  outline: none;
  margin-bottom: 25px;
  border: 1px solid #B6B6B6;
}
#modalAuth .modalAuthWrap .modalAuth-content input:focus {
  border: 1px solid #3DABFB;
}
#modalAuth .modalAuthWrap .modalAuth-content input#login-password {
  margin-bottom: 10px;
}
#modalAuth .modalAuthWrap .modalAuth-content .invalid-feedback {
  margin: 0 0 5px 98px;
  display: inline-block;
  color: #f00;
  font-weight: normal;
  font-size: 0.9rem;
}
#modalAuth .modalAuthWrap .login .remember-checker {
  margin-bottom: 36px;
  padding-left: 98px;
  display: flex;
  justify-content: space-between;
}
#modalAuth .modalAuthWrap .login .remember-checker .form-check-input {
  margin-bottom: 0;
  width: 30px;
  cursor: pointer;
  display: none;
}
#modalAuth .modalAuthWrap .login .remember-checker .form-check-input:checked + .form-check-label:before {
  content: "✔";
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  background-color: #3DABFB;
}
#modalAuth .modalAuthWrap .login .remember-checker .form-check-label {
  width: 163px;
  cursor: pointer;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #1B1B1B;
  position: relative;
  left: 20px;
}
#modalAuth .modalAuthWrap .login .remember-checker .form-check-label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #CACACA;
  border-radius: 5px;
  position: absolute;
  left: -20px;
}
#modalAuth .modalAuthWrap .login .remember-checker .pass-forgot {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #4086B9;
  text-decoration: none;
}
#modalAuth .modalAuthWrap .login button {
  margin-left: 98px;
  width: 109px;
  height: 35px;
  border: 1px solid #28A745;
  border-radius: 5px;
  background: #fff;
  outline: none;
}
#modalAuth .modalAuthWrap .register {
  display: none;
}
#modalAuth .modalAuthWrap .register button {
  margin-left: 98px;
  width: 207px;
  height: 35px;
  border: 1px solid #28A745;
  border-radius: 5px;
  background: #fff;
  outline: none;
}

.modal {
  display: none;
  font-family: "Roboto", sans-serif;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.modal .modalWrap .modalHeader {
  position: relative;
  display: flex;
  font-size: 15px;
  color: #777;
}
.modal .modalWrap .modalHeader div {
  padding: 15px 25px;
  width: 100%;
  text-align: center;
}
.modal .modalWrap .modalHeader button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -12px;
  background-color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #a9a9a9;
}
.modal .modalWrap .modalHeader button:hover {
  color: #000;
}
.modal .modalWrap .modalContent {
  padding: 35px 50px;
}
.modal .modalWrap .modalContent form {
  display: flex;
}
.modal .modalWrap .modalContent form label {
  width: 80px;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

#content {
  flex: 1 0 auto;
}

#footer {
  flex: 0 1 auto;
}

.slider_block {
  margin-bottom: 60px;
  padding-top: 15px;
}

.viewed_products_block {
  display: none;
}

.sales_leaders_block,
.viewed_products_block {
  margin-bottom: 65px;
}
.sales_leaders_block .sales_leaders_head h2,
.sales_leaders_block .viewed_products_head h2,
.viewed_products_block .sales_leaders_head h2,
.viewed_products_block .viewed_products_head h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.96px;
  line-height: 28px;
  color: #646464;
}
.sales_leaders_block .sales_leaders_head h2 i,
.sales_leaders_block .viewed_products_head h2 i,
.viewed_products_block .sales_leaders_head h2 i,
.viewed_products_block .viewed_products_head h2 i {
  margin-right: 2px;
  color: #28A745;
  font-size: 1.2rem;
}
.sales_leaders_block .sales_leaders_head h2 span,
.sales_leaders_block .viewed_products_head h2 span,
.viewed_products_block .sales_leaders_head h2 span,
.viewed_products_block .viewed_products_head h2 span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.sales_leaders_block .empty,
.viewed_products_block .empty {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}
.sales_leaders_block .carousel .carousel-prev,
.viewed_products_block .carousel .carousel-prev {
  left: -26px;
}
.sales_leaders_block .carousel .carousel-next,
.viewed_products_block .carousel .carousel-next {
  right: -35px;
}
.sales_leaders_block .carousel .carousel-prev, .sales_leaders_block .carousel .carousel-next,
.viewed_products_block .carousel .carousel-prev,
.viewed_products_block .carousel .carousel-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 1.8rem;
  cursor: pointer;
  background: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.sales_leaders_block .carousel .carousel-prev:before, .sales_leaders_block .carousel .carousel-next:before,
.viewed_products_block .carousel .carousel-prev:before,
.viewed_products_block .carousel .carousel-next:before {
  color: #A5A5A5;
}
.sales_leaders_block .carousel .slick-list,
.viewed_products_block .carousel .slick-list {
  margin-right: -31px;
}
.sales_leaders_block .carousel .slick-list .slick-slide,
.viewed_products_block .carousel .slick-list .slick-slide {
  margin-right: 31px;
}

.breadcrumbs-block {
  padding: 25px 0 27px 17px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  letter-spacing: 0.03em;
  color: #646464;
}
.breadcrumbs-block a {
  text-decoration: none;
  color: #646464;
}
.breadcrumbs-block a .asten_icon-home {
  font-size: 1.1rem;
}
.breadcrumbs-block span {
  color: #C4C4C4;
}

.head-block {
  margin-bottom: 26px;
}
.head-block .favorites-head i:before {
  font-size: 1.4rem;
  color: #28A745;
}
.head-block .head-block-head {
  padding-left: 25px;
  display: flex;
  align-items: center;
  height: 43px;
  background: #FFFFFF;
  border: 0.5px solid #C2C2C2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.head-block .head-block-head h1 {
  font-style: normal;
  font-weight: 500;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #646464;
}
.head-block .head-block-head h1 span {
  font-weight: 300;
}

.contacts-content-info {
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif;
  color: #1B1B1B;
}
.contacts-content-info h3 {
  margin: 22px 0 13px 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.contacts-content-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
}
.contacts-content-info ul li {
  margin-bottom: 10px;
  line-height: 20px;
}
.contacts-content-info ul li i {
  margin-right: 10px;
}

@media (max-width: 992px) {
  .contacts-content-block {
    margin-bottom: 30px;
  }
  .contacts-content-block .contacts-content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.sale-head-block .sale-head h1, .sale-head-block .stock-head h1,
.stock-head-block .sale-head h1,
.stock-head-block .stock-head h1 {
  padding: 0 42px;
  display: flex;
  align-items: center;
  height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #F4F4F4;
  background-color: #EC3939;
}

@media (max-width: 539px) {
  .head-block .head-block-head {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
}
.sale-content-block .sale-content-head, .sale-content-block .stock-content-head,
.stock-content-block .sale-content-head,
.stock-content-block .stock-content-head {
  margin-bottom: 36px;
}
.sale-content-block .sale-content-head p, .sale-content-block .stock-content-head p,
.stock-content-block .sale-content-head p,
.stock-content-block .stock-content-head p {
  width: 499px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #1B1B1B;
}
.sale-content-block .sale-content-card, .sale-content-block .stock-content-card,
.stock-content-block .sale-content-card,
.stock-content-block .stock-content-card {
  margin-bottom: 68px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .sale-content-block .sale-content-card, .sale-content-block .stock-content-card,
.stock-content-block .sale-content-card,
.stock-content-block .stock-content-card {
    justify-content: space-between;
  }
}
@media (max-width: 539px) {
  .sale-content-block .stock-content-head p, .sale-content-block .sale-content-head p,
.stock-content-block .stock-content-head p,
.stock-content-block .sale-content-head p {
    width: 100%;
  }
  .sale-content-block .sale-content-card, .sale-content-block .stock-content-card,
.stock-content-block .sale-content-card,
.stock-content-block .stock-content-card {
    justify-content: center;
  }
}
.payment-content-block {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  color: #1B1B1B;
}
.payment-content-block h2 {
  margin: 27px 0 27px 73px;
  padding: 0;
  font-weight: bold;
  font-size: 42px;
  line-height: 56px;
}
.payment-content-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.payment-content-block ul li {
  display: flex;
}
.payment-content-block ul li:nth-child(3) img {
  margin: 0 4px 0 6px;
  width: 40px;
  height: 40px;
}
.payment-content-block ul li:last-child {
  margin-bottom: 48px;
}
.payment-content-block ul li img {
  margin-top: 7px;
  width: 50px;
  height: 50px;
}
.payment-content-block ul li div {
  margin-left: 24px;
}
.payment-content-block ul li div h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.payment-content-block ul li div p {
  margin: 10px 0 15px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.03em;
}

@media (max-width: 575px) {
  .payment_methods h2,
.delivery_methods h2 {
    margin: 0 0 27px 0;
    display: flex;
    justify-content: center;
    font-size: 34px;
  }
  .payment_methods h3,
.delivery_methods h3 {
    font-size: 21px;
  }
}
.favorites-head-block {
  margin-bottom: 45px;
}

.favorites-content-block {
  font-family: "Roboto", sans-serif;
}
.favorites-content-block .favorites-card {
  display: flex;
  flex-wrap: wrap;
}
.favorites-content-block .favorites-card .card-favorites {
  margin-bottom: 65px;
}

@media (max-width: 767px) {
  .favorites-content-block .favorites-card {
    justify-content: center;
  }
}
.basket-head-block {
  margin-bottom: 51px;
}

.basket-content-block {
  font-family: "Roboto", sans-serif;
}
.basket-content-block .basket-total {
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 83px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #1B1B1B;
}
.basket-content-block .basket-total form button {
  padding: 0;
  margin-right: 64px;
  background: inherit;
  border: none;
  outline: none;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.04em;
  position: relative;
  cursor: pointer;
}
.basket-content-block .basket-total form button:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #28A745;
}
.basket-content-block .basket-total .basket-total-price {
  margin-right: 86px;
  font-size: 18px;
  line-height: 21px;
}
.basket-content-block .basket-total .basket-total-price span {
  font-size: 20px;
  line-height: 23px;
}
.basket-content-block .basket-total .basket-total-checkout {
  padding: 10px 50px;
  background: #28A745;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 0.04em;
  font-size: 18px;
  line-height: 21px;
}
.basket-content-block .basket-empty {
  text-align: center;
}

.subcategories-content-block .subcategories-content-list {
  display: flex;
}
.subcategories-content-block .subcategories-content-list div {
  padding: 15px;
}

.goods-content-block .goods-content-card {
  display: flex;
  flex-wrap: wrap;
}
.goods-content-block .goods-content-card .card {
  margin: 0 30px 65px 0;
}
.goods-content-block .goods-content-card .card:nth-child(4n+4) {
  margin-right: 0;
}

@media (max-width: 992px) {
  .goods-content-card .card:nth-child(4n+4) {
    margin: 0 30px 65px 0 !important;
  }
  .goods-content-card .card:nth-child(3n+3) {
    margin-right: 0 !important;
  }
}
@media (max-width: 767px) {
  .goods-content-card .card {
    margin-right: 90px !important;
  }
  .goods-content-card .card:nth-child(4n+4) {
    margin: 0 90px 65px 0 !important;
  }
  .goods-content-card .card:nth-child(3n+3) {
    margin: 0 90px 65px 0 !important;
  }
  .goods-content-card .card:nth-child(2n+2) {
    margin-right: 0 !important;
  }
}
@media (max-width: 575px) {
  .goods-content-card {
    justify-content: space-between;
  }
  .goods-content-card .card {
    margin: 0 0 65px 0 !important;
  }
  .goods-content-card .card:nth-child(4n+4) {
    margin: 0 0 65px 0 !important;
  }
  .goods-content-card .card:nth-child(3n+3) {
    margin: 0 0 65px 0 !important;
  }
  .goods-content-card .card:nth-child(2n+2) {
    margin: 0 0 65px 0 !important;
  }
}
@media (max-width: 509px) {
  .goods-content-card {
    justify-content: center;
  }
}
.goods-head-block {
  margin-bottom: 45px;
}

.details-head-block .head-details-head {
  display: flex;
  align-items: center;
}
.details-head-block .head-details-head a {
  margin-right: 80px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #646464;
  letter-spacing: 0.03em;
  text-align: center;
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.details-head-block .head-details-head a.active {
  position: relative;
}
.details-head-block .head-details-head a.active:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -11px;
  width: 100%;
  height: 2px;
  background-color: #28A745;
}

.details-content-block {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}
.details-content-block #details-main .img-other {
  padding: 27px 0 0 65px;
}
.details-content-block #details-main .img-other .slick-slide {
  margin-bottom: 20px;
  outline: none;
}
.details-content-block #details-main .img-other img {
  width: 87px;
  height: 97px;
}
.details-content-block #details-main .img-other i {
  position: absolute;
  left: 40%;
  transform: rotate(90deg);
}
.details-content-block #details-main .img-other .carousel-prev {
  top: -29px;
}
.details-content-block #details-main .img-other .carousel-next {
  bottom: -29px;
}
.details-content-block #details-main .img-main img {
  width: 304px;
  height: 401px;
}
.details-content-block #details-main .info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #1B1B1B;
}
.details-content-block #details-main .info .head h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.details-content-block #details-main .info .head span {
  margin-right: 14px;
  font-size: 13px;
  line-height: 15px;
  color: #646464;
}
.details-content-block #details-main .info .color {
  margin-bottom: 41px;
}
.details-content-block #details-main .info .color p:first-child {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.details-content-block #details-main .info .color p:last-child {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}
.details-content-block #details-main .info .color ul {
  margin: 0 0 15px 0;
  padding: 0;
}
.details-content-block #details-main .info .color ul li {
  display: inline-block;
}
.details-content-block #details-main .info .color ul li:last-child button {
  margin: 0;
}
.details-content-block #details-main .info .color ul li button {
  display: block;
  margin-right: 15px;
  padding: 9px 11px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  outline: none;
}
.details-content-block #details-main .info .price {
  margin-bottom: 22px;
}
.details-content-block #details-main .info .price p {
  display: flex;
  align-items: center;
  margin: 0 0 21px 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #1B1B1B;
}
.details-content-block #details-main .info .price p button {
  display: block;
  margin-left: 6px;
  padding: 9px 11px;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  outline: none;
}
.details-content-block #details-main .info .price table {
  text-align: center;
  border-collapse: collapse;
}
.details-content-block #details-main .info .price table th:first-child {
  width: 189px;
  height: 48px;
}
.details-content-block #details-main .info .price table th {
  width: 127px;
  height: 48px;
}
.details-content-block #details-main .info .price table td, .details-content-block #details-main .info .price table th {
  border: 1px solid #C7C7C7;
}
.details-content-block #details-main .info .price table td:first-child {
  width: 189px;
  height: 48px;
}
.details-content-block #details-main .info .price .details-stock-table td {
  font-weight: bold;
  color: #f00;
}
.details-content-block #details-main .info .price .details-stock-table td:first-child {
  color: #000;
}
.details-content-block #details-main .info .price .details-stock-table .del {
  color: #000;
  font-weight: normal;
  text-decoration: line-through;
  text-decoration-color: red;
}
.details-content-block #details-main .info .other {
  display: flex;
  align-items: center;
  margin-bottom: 105px;
}
.details-content-block #details-main .info .other .count {
  display: flex;
  align-items: center;
}
.details-content-block #details-main .info .other .count p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #1B1B1B;
}
.details-content-block #details-main .info .other .count input[type=number]::-webkit-inner-spin-button, .details-content-block #details-main .info .other .count input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.details-content-block #details-main .info .other .count #countGoods {
  margin: 0 35px;
}
.details-content-block #details-main .info .other .count #countGoods div button {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
.details-content-block #details-main .info .other .count #countGoods div .minus img {
  margin-bottom: 3px;
}
.details-content-block #details-main .info .other .count #countGoods div input {
  width: 61px;
  height: 37px;
  font-size: 16px;
  background: #F4F4F4;
  border-radius: 5px;
  text-align: center;
  border: none;
}
.details-content-block #details-main .info .other .buy {
  padding: 8px 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #28A745;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.details-content-block #details-main .info .other .favorites_and_share button:first-child {
  margin: 0 23px;
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
}
.details-content-block #details-main .info .other .favorites_and_share:last-child {
  font-size: 1.3rem;
}

.basket-form-block {
  display: none;
}
.basket-form-block form div {
  margin-bottom: 15px;
}
.basket-form-block form div label {
  display: inline-block;
  width: 170px;
}
.basket-form-block form button {
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .details-content-block #details-main .img-other {
    padding: 20px 0 0 85px;
  }
  .details-content-block #details-main .img-other .slick-list {
    margin-left: 10px;
  }
  .details-content-block #details-main .info .head h1, .details-content-block #details-main .info .head p {
    margin: 0;
  }
  .details-content-block #details-main .info .price {
    margin-bottom: 10px;
  }
  .details-content-block #details-main .info .price p {
    margin-bottom: 5px;
  }
}
@media (max-width: 992px) {
  .details-content-block #details-main .img-other {
    padding: 10px 0 0 10px;
  }
  .details-content-block #details-main .img-other .slick-list {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .details-head-block .head-details-head a {
    margin-right: 57px;
  }

  .details-content-block #details-main .img-other {
    padding: 10px 0 0 5px;
  }
  .details-content-block #details-main .img-other .slick-list {
    margin-left: 0;
  }
  .details-content-block #details-main .color button {
    margin-bottom: 5px;
  }
  .details-content-block #details-main .info .other {
    flex-wrap: wrap;
  }
}
@media (max-width: 514px) {
  .details-head-block .head-details-head {
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
  }
  .details-head-block .head-details-head a {
    margin-right: 0;
    height: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
