@import "utility";
@import "nav";
@import "slider";
@import "footer";
@import "card-standard";
@import "card-sale";
@import "card-stock";
@import "card-favorites";
@import "card-basket";
@import "modal";
@import "modalBasket";

body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 100vh;
  box-sizing: border-box;
}

#content {
  flex: 1 0 auto;
}

#footer {
  flex: 0 1 auto;
}

.slider_block {
  margin-bottom: 60px;
  padding-top: 15px;
}

.viewed_products_block {
  display: none;
}

.sales_leaders_block,
.viewed_products_block {
  margin-bottom: 65px;

  & .sales_leaders_head,
  .viewed_products_head {

    & h2 {
      font-family: $Roboto;
      font-weight: $bold;
      font-size: 24px;
      letter-spacing: 0.96px;
      line-height: 28px;
      color: #646464;

      & i {
        margin-right: 2px;
        color: $green_28;
        font-size: 1.2rem;
      }

      & span {
        font-family: $Roboto;
        font-weight: $light;
        font-size: 24px;
      }
    }
  }

  & .empty {
    font-family: $OpenSans;
    font-size: 1.1rem;
  }

  & .carousel {

    & .carousel-prev {
      left: -26px;
    }

    & .carousel-next {
      right: -35px;
    }

    & .carousel-prev,
    & .carousel-next {
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      line-height: 0;
      font-size: 1.8rem;
      cursor: pointer;
      background: transparent;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      padding: 0;
      border: none;
      outline: none;
    }

    & .carousel-prev:before,
    & .carousel-next:before {
      color: #A5A5A5;
    }

    .slick-list {
      margin-right: -31px;

      & .slick-slide {
        margin-right: 31px;
      }
    }
  }
}

.breadcrumbs-block {
  padding: 25px 0 27px 17px;
  font-family: $Roboto;
  font-size: 13px;
  letter-spacing: 0.03em;
  color: $grey_64;

  & a {
    text-decoration: none;
    color: $grey_64;

    & .asten_icon-home {
      font-size: 1.1rem;
    }
  }

  & span {
    color: #C4C4C4;
  }
}

.head-block {
  margin-bottom: 26px;

  & .favorites-head {
    & i:before {
      font-size: 1.4rem;
      color: $green_28;
    }
  }

  & .head-block-head {
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 43px;
    background: #FFFFFF;
    border: 0.5px solid #C2C2C2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

    & h1 {
      font-style: normal;
      font-weight: 500;
      margin: 0;
      font-family: $Roboto;
      font-size: 24px;
      letter-spacing: 0.04em;
      color: $grey_64;

      & span {
        font-weight: $light;
      }
    }
  }
}

.contacts-content-info {
  margin-bottom: 60px;
  font-family: $Roboto;
  color: #1B1B1B;

  & h3 {
    margin: 22px 0 13px 0;
    padding: 0;
    font-weight: $bold;
    font-size: 18px;
    line-height: 24px;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;

    & li {
      margin-bottom: 10px;
      line-height: 20px;

      & i {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .contacts-content-block {
    margin-bottom: 30px;

    .contacts-content-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.sale-head-block,
.stock-head-block {
  & .sale-head,
  & .stock-head {
    & h1 {
      padding: 0 42px;
      display: flex;
      align-items: center;
      height: 100%;
      font-family: $Rubik-Bold;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: #F4F4F4;
      background-color: #EC3939;
    }
  }
}

@media (max-width: 539px) {
  .head-block {
    & .head-block-head {
      padding-left: 0;
      display: flex;
      justify-content: center;
    }
  }
}

.sale-content-block,
.stock-content-block {
  & .sale-content-head,
  & .stock-content-head {
    margin-bottom: 36px;

    & p {
      width: 499px;
      font-family: $Rubik-Bold;
      font-size: 16px;
      letter-spacing: 0.03em;
      color: #1B1B1B;
    }
  }

  & .sale-content-card,
  & .stock-content-card {
    margin-bottom: 68px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .sale-content-block,
  .stock-content-block {
    & .sale-content-card,
    & .stock-content-card {
      justify-content: space-between;
    }
  }
}

@media (max-width: 539px) {
  .sale-content-block,
  .stock-content-block {
    & .stock-content-head p,
    & .sale-content-head p {
      width: 100%;
    }

    & .sale-content-card,
    & .stock-content-card {
      justify-content: center;
    }
  }
}

.payment-content-block {
  margin-bottom: 16px;
  font-family: $Roboto;
  color: #1B1B1B;

  & h2 {
    margin: 27px 0 27px 73px;
    padding: 0;
    font-weight: bold;
    font-size: 42px;
    line-height: 56px;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      display: flex;

      &:nth-child(3) img {
        margin: 0 4px 0 6px;
        width: 40px;
        height: 40px;
      }

      &:last-child {
        margin-bottom: 48px;
      }

      & img {
        margin-top: 7px;
        width: 50px;
        height: 50px;
      }

      & div {
        margin-left: 24px;

        & h3 {
          margin: 0;
          padding: 0;
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;
        }

        & p {
          margin: 10px 0 15px 0;
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.03em;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .payment_methods,
  .delivery_methods {
    & h2 {
      margin: 0 0 27px 0;
      display: flex;
      justify-content: center;
      font-size: 34px;
    }

    & h3 {
      font-size: 21px;
    }
  }
}

.favorites-head-block {
  margin-bottom: 45px;
}

.favorites-content-block {
  font-family: $Roboto;

  & .favorites-card {
    display: flex;
    flex-wrap: wrap;

    & .card-favorites {
      margin-bottom: 65px;
    }
  }
}

@media (max-width: 767px) {
  .favorites-content-block {
    & .favorites-card {
      justify-content: center;
    }
  }
}

.basket-head-block {
  margin-bottom: 51px;
}

.basket-content-block {
  font-family: $Roboto;

  & .basket-total {
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 83px;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #1B1B1B;

    & form button {
      padding: 0;
      margin-right: 64px;
      background: inherit;
      border: none;
      outline: none;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.04em;
      position: relative;
      cursor: pointer;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $green_28;
      }
    }

    & .basket-total-price {
      margin-right: 86px;
      font-size: 18px;
      line-height: 21px;

      & span {
        font-size: 20px;
        line-height: 23px;
      }
    }

    & .basket-total-checkout {
      padding: 10px 50px;
      background: #28A745;
      border-radius: 5px;
      border: none;
      outline: none;
      color: #fff;
      letter-spacing: 0.04em;
      font-size: 18px;
      line-height: 21px;
    }
  }

  & .basket-empty {
    text-align: center;
  }
}

.subcategories-content-block {
  & .subcategories-content-list {
    display: flex;

    & div {
      padding: 15px;
    }
  }
}

.goods-content-block {
  & .goods-content-card {
    display: flex;
    flex-wrap: wrap;

    & .card {
      margin: 0 30px 65px 0;

      &:nth-child(4n + 4) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .goods-content-card {
    & .card {
      &:nth-child(4n + 4) {
        margin: 0 30px 65px 0 !important;
      }

      &:nth-child(3n + 3) {
        margin-right: 0 !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .goods-content-card {
    & .card {
      margin-right: 90px !important;

      &:nth-child(4n + 4) {
        margin: 0 90px 65px 0 !important;
      }

      &:nth-child(3n + 3) {
        margin: 0 90px 65px 0 !important;
      }

      &:nth-child(2n + 2) {
        margin-right: 0 !important;
      }
    }
  }
}

@media (max-width: 575px) {
  .goods-content-card {
    justify-content: space-between;

    & .card {
      margin: 0 0 65px 0 !important;

      &:nth-child(4n + 4) {
        margin: 0 0 65px 0 !important;
      }

      &:nth-child(3n + 3) {
        margin: 0 0 65px 0 !important;
      }

      &:nth-child(2n + 2) {
        margin: 0 0 65px 0 !important;
      }
    }
  }
}

@media (max-width: 509px) {
  .goods-content-card {
    justify-content: center;
  }
}


.goods-head-block {
  margin-bottom: 45px;
}

.details-head-block {
  & .head-details-head {
    display: flex;
    align-items: center;

    & a {
      margin-right: 80px;
      font-family: $Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: #646464;
      letter-spacing: 0.03em;
      text-align: center;
      background: none;
      outline: none;
      border: none;
      text-decoration: none;
      cursor: pointer;
    }

    & a.active {
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: -11px;
        width: 100%;
        height: 2px;
        background-color: $green_28;
      }
    }
  }
}

.details-content-block {
  font-family: $Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;

  & #details-main {
    & .img-other {
      padding: 27px 0 0 65px;

      & .slick-slide {
        margin-bottom: 20px;
        outline: none;
      }

      & img {
        width: 87px;
        height: 97px;
      }

      & i {
        position: absolute;
        left: 40%;
        transform: rotate(90deg);
      }

      & .carousel-prev {
        top: -29px;
      }

      & .carousel-next {
        bottom: -29px;
      }
    }

    & .img-main img {
      width: 304px;
      height: 401px;
    }

    & .info {
      font-family: $Roboto;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.03em;
      color: #1B1B1B;

      & .head {
        & h1 {
          font-weight: bold;
          font-size: 36px;
          line-height: 42px;
        }

        & span {
          margin-right: 14px;
          font-size: 13px;
          line-height: 15px;
          color: #646464;
        }
      }

      & .color {
        margin-bottom: 41px;

        & p {
          &:first-child {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
          }

          &:last-child {
            margin: 0;
            padding: 0;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
          }
        }

        & ul {
          margin: 0 0 15px 0;
          padding: 0;

          & li {
            display: inline-block;

            &:last-child button {
              margin: 0;
            }

            & button {
              display: block;
              margin-right: 15px;
              padding: 9px 11px;
              font-size: 16px;
              line-height: 19px;
              text-decoration: none;
              border-radius: 5px;
              border: 0;
              cursor: pointer;
              outline: none;
            }
          }
        }
      }

      & .price {
        margin-bottom: 22px;

        & p {
          display: flex;
          align-items: center;
          margin: 0 0 21px 0;
          padding: 0;
          font-family: $Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.03em;
          color: #1B1B1B;

          & button {
            display: block;
            margin-left: 6px;
            padding: 9px 11px;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            border-radius: 5px;
            border: 0;
            outline: none;
          }
        }

        & table {
          text-align: center;
          border-collapse: collapse;

          & th:first-child {
            width: 189px;
            height: 48px;
          }

          & th {
            width: 127px;
            height: 48px;
          }

          & td, th {
            border: 1px solid #C7C7C7;
          }

          & td:first-child {
            width: 189px;
            height: 48px;
          }
        }

        & .details-stock-table {
          & td {
            font-weight: bold;
            color: #f00;

            &:first-child {
              color: #000;
            }
          }

          & .del {
            color: #000;
            font-weight: normal;
            text-decoration: line-through;
            text-decoration-color: red;
          }
        }
      }

      & .other {
        display: flex;
        align-items: center;
        margin-bottom: 105px;

        & .count {
          display: flex;
          align-items: center;

          & p {
            font-family: $Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.03em;
            color: #1B1B1B;
          }

          & input[type=number]::-webkit-inner-spin-button,
          & input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          & #countGoods {
            margin: 0 35px;

            & div {
              & button {
                background: inherit;
                border: none;
                outline: none;
                cursor: pointer;
              }

              & .minus img {
                margin-bottom: 3px;
              }

              & input {
                width: 61px;
                height: 37px;
                font-size: 16px;
                background: #F4F4F4;
                border-radius: 5px;
                text-align: center;
                border: none;
              }
            }
          }
        }

        & .buy {
          padding: 8px 30px;
          font-family: $Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.04em;
          color: #FFFFFF;
          background: #28A745;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;
        }

        & .favorites_and_share {
          & button:first-child {
            margin: 0 23px;
            background: none;
            outline: none;
            border: 0;
            cursor: pointer;
          }

          &:last-child {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

.basket-form-block {
  display: none;

  & form {
    & div {
      margin-bottom: 15px;

      & label {
        display: inline-block;
        width: 170px;
      }
    }

    & button {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1199px) {
  .details-content-block {
    & #details-main {
      & .img-other {
        padding: 20px 0 0 85px;

        .slick-list {
          margin-left: 10px;
        }
      }

      & .info {
        & .head {
          & h1, p {
            margin: 0;
          }
        }

        & .price {
          margin-bottom: 10px;

          & p {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .details-content-block {
    & #details-main {
      & .img-other {
        padding: 10px 0 0 10px;

        .slick-list {
          margin-left: 0;

          & .slick-slide {
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .details-head-block {
    & .head-details-head {
      & a {
        margin-right: 57px;
      }
    }
  }

  .details-content-block {
    & #details-main {
      & .img-other {
        padding: 10px 0 0 5px;

        .slick-list {
          margin-left: 0;

          & .slick-slide {
          }
        }
      }

      & .color {
        & button {
          margin-bottom: 5px;
        }
      }

      & .info {
        & .other {
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (max-width: 514px) {
  .details-head-block {
    & .head-details-head {
      flex-direction: column;
      justify-content: space-around;
      height: 100px;

      & a {
        margin-right: 0;
        height: 10px;
      }
    }
  }
}