@font-face {
  font-family: 'asten';
  src:  url('fonts/asten.eot?kn0106');
  src:  url('fonts/asten.eot?kn0106#iefix') format('embedded-opentype'),
    url('fonts/asten.ttf?kn0106') format('truetype'),
    url('fonts/asten.woff?kn0106') format('woff'),
    url('fonts/asten.svg?kn0106#asten') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'asten' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.asten_icon-arrow_prev:before {
  content: "\e914";
  color: #e0e0e0;
}
.asten_icon-arrow_next_2:before {
  content: "\e915";
  color: #e0e0e0;
}
.asten_icon-favorite_border:before {
  content: "\e911";
  color: #28a745;
}
.asten_icon-delete:before {
  content: "\e912";
  color: #a5a5a5;
}
.asten_icon-star:before {
  content: "\e913";
}
.asten_icon-arrow_next:before {
  content: "\e900";
  color: #74a980;
}
.asten_icon-share:before {
  content: "\e901";
}
.asten_icon-marker:before {
  content: "\e902";
  color: #a5a5a5;
}
.asten_icon-email:before {
  content: "\e903";
  color: #a5a5a5;
}
.asten_icon-phone_in_talk:before {
  content: "\e904";
  color: #a5a5a5;
}
.asten_icon-facebook:before {
  content: "\e905";
  color: #a5a5a5;
}
.asten_icon-home:before {
  content: "\e906";
  color: #a5a5a5;
}
.asten_icon-twitter:before {
  content: "\e907";
  color: #a5a5a5;
}
.asten_icon-whatsapp:before {
  content: "\e908";
  color: #a5a5a5;
}
.asten_icon-clock:before {
  content: "\e909";
  color: #a5a5a5;
}
.asten_icon-favorite:before {
  content: "\e90a";
  color: #a5a5a5;
}
.asten_icon-user:before {
  content: "\e90b";
  color: #a5a5a5;
}
.asten_icon-shopping_cart:before {
  content: "\e90c";
  color: #a5a5a5;
}
.asten_icon-burger:before {
  content: "\e90d";
  color: #28a745;
}
.asten_icon-leader:before {
  content: "\e90e";
  color: #28a745;
}
.asten_icon-eye:before {
  content: "\e90f";
  color: #28a745;
}
.asten_icon-search:before {
  content: "\e910";
  color: #28a745;
}
